deb http://ftp.fr.debian.org/debian/ {{ debian }} main
deb-src http://ftp.fr.debian.org/debian/ {{ debian }} main

deb http://security.debian.org/ {{ debian }}/updates main
deb-src http://security.debian.org/ {{ debian }}/updates main

deb http://ftp.fr.debian.org/debian/ {{ debian }}-updates main
deb-src http://ftp.fr.debian.org/debian/ {{ debian }}-updates main
